<% include partials/header %>
<div class="container" id="h1contact">
        <h1>Contact</h1>
</div>
<div class="container">
    <div class="contact">
        <p>philafable@gmail.com</p>
        <ul><a href="https://www.linkedin.com/in/philip-afable-72209a91/">LinkedIn</a></ul>
        <ul><a href="https://github.com/pafable">Github</a></ul>
    </div>
</div>
<% include partials/footer %>