<% inclue partials/header %>
<h1>Contact</h1>
<p>philafable@gmail.com</p>
<a href="https://www.linkedin.com/in/philip-afable-72209a91/">LinkedIn</a>
<a href="https://github.com/pafable">Github</a>
<% include partials/footer %>