<% include partials/header %> 
<div class="container">
    <div class="player1"></div>
        <header class="jumbotron">
            <h1>Philip Afable</h1>
            <h3>Technology Wizard in Training</h3>
        </header>    
    <br>
    <h3>About Me</h3>
    <p>"Slowly achieving greatness"</p>
    <img src="https://i.kym-cdn.com/photos/images/newsfeed/000/437/645/a9d.jpg">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, placeat. 
    Aspernatur inventore, quis animi harum, exercitationem a sapiente quibusdam sunt soluta quisquam saepe error magnam ea cupiditate veritatis est! Consequatur.</p>
</div>
<% include partials/footer %>