<% include partials/header %> 
<div class="container">
    <div class="player1"></div>
        <header class="jumbotron">
            <h1>Philip Afable</h1>
            <h3>Technology Wizard in Training</h3>
        </header>    
    <br>
    <h3>About Me</h3>
    <p>"Slowly achieving greatness"</p>
    <img src="https://i.kym-cdn.com/photos/images/newsfeed/000/437/645/a9d.jpg">
    <div class="indexP">
        <p>Under Construction...please be patient, I dont want to summon dragons in the server room.</p>
    </div>
</div>
<% include partials/footer %>