<% include partials/header %> 
<div class="container">
    <div class="player1"></div>
        <header class="jumbotron">
            <h1 class="index">Philip Afable</h1>
            <p>Technology Wizard in Training</p>
        </header>    
    <br>
    <div class="indexP">
        <h3>About Me</h3>
        <p>"Slowly achieving greatness"</p>
        <img class="indeximg" src="https://i.kym-cdn.com/photos/images/newsfeed/000/437/645/a9d.jpg">
 
        <p>Under Construction...please be patient, I dont want to accidentally summon dragons in the server room.</p>
    </div>
</div>
<% include partials/footer %>