<% include partials/header %>
<div class="container" id="h1projects">
    <h1>Projects</h1>
</div>
<div class="container">
    <div class="projectsparagrah">
        <h4>pafable.com</h4>
        <p>This is my first deep dive into creating a platform to act as an extension of my resume. pafable.io was created to
            showcase my understanding of technology in the enterprise and will function as platform for my future learning endevours!
            Main focus of this project was just to get a Nodejs app up and running, everything else is extra.
        </p>
            <div class="project1">
            <p>pafable.com uses the following technology stack:
               <div class="container">
                   <li>Nodejs</li>
                   <li>Express</li>
                   <li>Heroku</li>
                   <li><a href="https://github.com/pafable/portfolio">pafable.com github</a></li>
               </div>
            </div>
            </p>
    </div>

    <div class="projectsparagrah">
        <h4>therollbak.com</h4>
        <p>Cofounder of a podcast and blog site discussing topics about the tech world an devops movement.
        </p>
            <div class="project1">
            <p>Check out my blog entries below:
               <div class="container">
                   <li><a href="https://therollbak.com/author/phil/">Blog entries</a></li>
               </div>
            </div>
            </p>
    </div>
</div>
<% include partials/footer %>