<% include partials/header %>
<div class="container" id="h1projects">
    <h1>Projects</h1>
</div>
<div class="container">
    <div class="projectparagrah">
        <h4>pafable.io</h4>
        <p>This is my first deep dive into creating a platform to act as an extension of my resume. pafable.io was created to
            showcase my understanding of technology in the enterprise and will function as platform for my future learning endevours!
        </p>

         <p>pafable.io used the following technology stack:
                <li>Nodejs</li>
                <li>Express</li>
                <li>Heroku</li>
                <li>https://github.com/pafable/portfolio</li>
        </p>
    </div>
</div>
<% include partials/footer %>