.jumbotron {
    text-align: center;
}

.navbar navbar-expand-lg navbar-dark bg-dark {
    align-content: center;

}

.footer {
    text-align: center;
}

.indexP {
    text-align: center;
}

.index-img {
    align-content: center;
}
.index {
    font-weight: bold;
}