.jumbotron {
    text-align: center;
    background-color:yellow; 
}

.footer {
    text-align: center;
}

.indexP {
    text-align: center;
}

.indeximg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.index {
    font-weight: bold;
}

#h1projects {
    text-align: center;
}

.projectsparagrah {
    padding-top: 5%;
}