.jumbotron {
    text-align: center;
}

.footer {
    text-align: center;
    padding-top: 35%;
}

.indexP {
    text-align: center;
}

.indeximg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.index {
    font-weight: bold;
}

#h1projects {
    text-align: center;
    padding-top: 5%;
}

.navbar {
    position: fixed;
    width: 100%;
}

#h1contact {
    text-align: center;
    padding-top: 5%;
}

#contact {
    text-align: center;
}